
* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    max-width: 100vw;
    box-sizing: border-box;
  }
:root {
  --bg: white;
  --text: black;
  --nav-bg: #f5f5f5;
  --nav-text: black;
  --footer-bg: #eee;
}

body.dark {
  --bg: #121212;
  --text: white;
  --nav-bg: #1e1e1e;
  --nav-text: white;
  --footer-bg: #000;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

 
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
  }
  
  .sticky-bg {
    width: 100%;
    backdrop-filter: blur(20px);
  }
  
  nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: center;
}
  
  nav a {
  display: block;
  color: var(--nav-text);
  padding: 14px 16px;
  text-decoration: none;
}
  
  nav a:hover {
    color: #777;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
  }
  
  .nav-links ul li a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: 0.5s;
  }
  
  .nav-links ul li a:hover {
    text-decoration: none;
    color: #777;
    font-weight: 500;
  }
  
  nav .fa {
    display: none;
  }

  body, html {
    height: 100%;
}
@media (max-width: 700px) {
    nav .fa {
      display: block;
      color: #777;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
    .sticky-bg {
      backdrop-filter: none;
    }
    .nav-links .hero-link {
      display: flex;

    }
  
    .nav-links ul li {
      display: block;
      text-align: left;
      padding: 5px 50px;
      justify-content: left;
    }
  
    #nav-links-sub {
      left: -200px;
      text-align: right;
      margin-top: 70px;
      position: absolute;
      height: 100vh;
      width: 30%;
      background: rgba(255, 81, 0, 0);
      backdrop-filter: blur(3px);
      transition: 1s;
    }


    
  }
/* hero image */
.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero_img.jpg);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* about us */
.about-us-container {
    text-align: left;
    width: 80%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about-us-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .about-us-col {
    padding: 10px;
    flex-basis: 31%;
  }
  
  .about-us-col h3 {
    color: var(--text);
    margin-bottom: 10px;
  }

  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 background-color: var(--footer-bg);
  color: var(--text);
  text-align: center;
}